<?xml version="1.0"?>
<!--
Copyright (c) 2023, STEREOLABS.

All rights reserved.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch> 

    <arg name="node_name"          default="zed" />
    <arg name="camera_model"       default="zed2i" />    
    <arg name="camera_name"        default="zed2i" />
    <arg name="base_frame"         default="zed_base_link" />
    
    <!-- Static transform publisher to define the transformation between Spot's body and base_link -->
    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0.2 0 0.3 0 0 0 body zed_base_link 100" output="screen" />

    <!-- Launch ZED camera driver -->
    <include file="$(find zed_wrapper)/launch/zed2i.launch">
        <arg name="camera_name"                 value="$(arg camera_name)" />
        <arg name="node_name"                   value="$(arg node_name)" />
        <arg name="camera_model"                value="$(arg camera_model)" />
        <arg name="base_frame"                  value="$(arg base_frame)" />
    </include>

    <!-- Launch node to publish people positions in the odom frame -->
    <node name="people_in_odom_frame" pkg="social_nav_perception" type="people_in_odom_frame.py" output="screen"/>
    
</launch>
